<div class="py-2">
    <div class="po-row">
        <div class="col-6 box-table">
            <po-table
                [p-columns]="columns"
                [p-items]="items">
                <ng-template p-table-cell-template let-column="column" let-row="row">
                    <div *ngIf="column.property === 'typeOperation'">
                    {{row}}
                    </div>
                </ng-template>
            </po-table>
        </div>
        <div class="po-row col-6">
            <div class="po-row">
                <po-select
                class="col-12"
                name="select"
                p-label="Filtrar"
                [p-options]="optionsOrder"
                (p-change)="filterOrderList($event)"
              >
              </po-select>
            </div>
            <div class="d-flex justify-content-center pb-2" [formGroup]="form">
                <div *ngFor="let itemToken of tokenBuyList" class="col-auto">
                    <po-input [p-label]="itemToken" [formControlName]="itemToken"></po-input>
                </div>
                <po-button p-label="Recalcular" (p-click)="insertQuotation()">
                </po-button>
            </div>
            <div class="po-row">
                <div class="col-auto">Seu PM é:</div>
                <div class="col-3 text-right">{{pmValue}}</div>
            </div>
        </div>
    </div>

    <div class="po-row">

    </div>
</div>

