<body class="login-body">
  <div class="login-body__box">

    <po-tabs>
      <po-tab p-label="Sign-in" [p-active]="true">
        <div class="p-2">
          <div class="col-12">
            <po-login
              name="userLogin"
              [(ngModel)]="login"
              p-clean
              p-label="Login"
              [p-maxlength]="40"
              p-placeholder="usuário"
              p-required>
            </po-login>
          </div>
          <div class="col-12">
            <po-password
              name="password"
              p-label="Senha"
              [(ngModel)]="password"
              p-placeholder="senha"
              p-required>
            </po-password>
          </div>
          <po-button p-label="Entrar" class="po-md-12 px-3 pt-5 pb-3" (p-click)="confirmClick()"></po-button>
        </div>
      </po-tab>

      <po-tab p-label="Sign-up">
        <div class="p-2">
          <div class="col-12">
            <po-login
              name="userLogin"
              [(ngModel)]="login"
              p-clean
              p-label="Login"
              [p-maxlength]="40"
              p-placeholder="usuário"
              p-required>
            </po-login>
          </div>
          <div class="col-12">
            <po-password
              name="password"
              p-label="Senha"
              [(ngModel)]="password"
              p-placeholder="senha"
              p-required>
            </po-password>
          </div>
          <div class="col-12">
            <po-email name="email" p-label="Email"> </po-email>
          </div>
          <po-button p-label="Cadastrar" class="po-md-12 px-3 pt-5 pb-3" (p-click)="newLogin()"></po-button>
        </div>
      </po-tab>
    </po-tabs>
  </div>
</body>





